<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PTS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/datatables")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PTS-SIMCOT", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                    <li>@Html.ActionLink("Cálculo FCV", "Index", "Calculo_FCV")</li>
                    <li>@Html.ActionLink("Conv.Tabla de Cubicación", "Index", "TablaCub")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SIIC <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Entradas", "Index", "Home")</li>
                            <li>@Html.ActionLink("Salidas", "About", "Home")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Auditoria", "Contact", "Home")</li>
                            @*<li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reportes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Carga", "Index", "Home")</li>
                            <li>@Html.ActionLink("Tanques", "About", "Home")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Crear Reporte", "Create", "Reports")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("abrir conexion", "Index", "Reports")</li>
                            @*<li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otras <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("HMI de Aditivación", "Index", "Aditivo")</li>
                            <li>@Html.ActionLink("Danload 6000", "Index", "Danload")</li>
                            <li>@Html.ActionLink("Accuload III", "Index", "Accuload")</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET by Julian Mondragon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/corecubi")
    @RenderSection("scripts", required: false)


</body>
</html>
