
@model TAS360.Models.ViewModel.PerfilusrViewModel
@{
    ViewBag.Title = "Perfil del usuario";
}

<div class="jumbotron text-center">
    <h1>Mi Perfil</h1>
</div>

<div class="row">

    <div class="col-md-3 text-center">
        <div class="profile-photo-container">
            @if (Model.Foto_usuario != null && Model.Foto_usuario.Length > 0) // Validar que la imagen no sea nula
            {
                string base64String = Convert.ToBase64String(Model.Foto_usuario);
                string imageDataURL = $"data:image/png;base64,{base64String}"; // Asegúrate de usar el tipo de imagen correcto
                <img src="@imageDataURL" alt="Foto de perfil" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <img src="~/images/default-user.png" alt="Foto de perfil" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
            }
        </div>
    </div>



    <!-- Sección para la información del perfil del usuario -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header bg-success text-white">
                Información del Perfil
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">ID:</div>
                    <div class="col-md-9">@Model.id_User</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Nombre:</div>
                    <div class="col-md-9">@Model.nombre</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Email:</div>
                    <div class="col-md-9">@Model.email</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Teléfono Celular:</div>
                    <div class="col-md-9">@Model.Cel</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Género:</div>
                    <div class="col-md-9">@Model.Género</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 font-weight-bold">Estado:</div>
                    <div class="col-md-9">@Model.Estado</div>
                </div>
                <button onclick="document.location.href = '@Url.Content("~/Profile/EditProfile")'" type="button" class="btn btn-success" data-toggle="tooltip" title="Editar perfil">
                    Editar perfil &raquo;
                </button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Home", "Home")'">Cancelar</button>
            </div>
        </div>
    </div>
</div>
