
@model TAS360.Models.ViewModel.TicketViewModel
@{
    ViewBag.Title = "Crear Ticket";
    List<SelectListItem> Categorias = (List<SelectListItem>)ViewBag.Categorias;
    List<SelectListItem> Terminales = (List<SelectListItem>)ViewBag.Terminales;
    List<SelectListItem> Status = (List<SelectListItem>)ViewBag.Status;
    List<SelectListItem> Usuarios = (List<SelectListItem>)ViewBag.Usuarios;
    List<SelectListItem> Subsistemas = (List<SelectListItem>)ViewBag.Subsistemas;
    string exception = ViewBag.ExceptionMessage;
}
<br />
<br />
<section class="page-section about-heading">
    <div class="container">
        @*<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />*@
        @if (exception != null)
        {
            <h3 style="color:red">@exception</h3>
        }
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            @*<span class="section-heading-upper">Strong Coffee, Strong Roots</span>*@
                            <span class="section-heading-lower">Crear Ticket</span>
                        </h2>
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("CreateTicket", "Tickets", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <br />

                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.id_Terminal)
                                                @Html.DropDownListFor(model => model.id_Terminal, Terminales, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-3">
                                                @Html.LabelFor(f => f.id_Categoria)
                                                @Html.DropDownListFor(model => model.id_Categoria, Categorias, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-3">
                                                @Html.LabelFor(f => f.id_Subsistema)
                                                @Html.DropDownListFor(model => model.id_Subsistema, Subsistemas, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Status)
                                                @Html.DropDownListFor(model => model.Status, Status, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="col-md-6">
                                                @Html.LabelFor(f => f.id_Resp)
                                                @Html.DropDownListFor(model => model.id_Resp, Usuarios, new { @class = "form-control" })
                                            </div>

                                            <div class="col-lg-8">
                                                @Html.LabelFor(f => f.titulo)
                                                @Html.TextBoxFor(f => f.titulo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.titulo, null, new { @class = "red" })
                                            </div>

                                            <div class="col-lg-2">
                                                @Html.LabelFor(f => f.id_externo)
                                                @Html.TextBoxFor(f => f.id_externo, new { @class = "form-control", @title = "Identificador con el Help Desk de susess" })
                                                @Html.ValidationMessageFor(f => f.id_externo, null, new { @class = "red" })
                                            </div>

                                            <div class="col-md-10">
                                                @Html.LabelFor(f => f.mensaje)
                                                @Html.TextAreaFor(f => f.mensaje, new { @class = "form-control", rows = "10" })
                                                @Html.ValidationMessageFor(f => f.mensaje, null, new { @class = "red" })
                                            </div>
                                        </div>
                                        
                                        <div style="text-align:right">
                                            <br />
                                            <input type="submit" class="btn btn-lg btn-primary" value="Crear" />
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
