@model List<TAS360.Models.ViewModel.TicketViewModel>
@{
    ViewBag.Title = "Mis Tickets";
}

<div class="jumbotron">
    <h1>Mis Tickets</h1>
    <p class="lead">Todos los tickets ordenados por fecha</p>
    <p class="lead">
        <a onclick="document.location.href = '@Url.Content("~/Tickets/CreateTicket")'" class="btn btn-success">Crear un Ticket &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped">
            <tr>
                <th class="alert-success" colspan="1">Folio</th>
                <th class="alert-info" colspan="2">Titulo</th>
                <th class="alert-warning" colspan="1">Categoria</th>
                <th class="alert-success" colspan="1">Usuario</th>
                <th class="alert-success" colspan="1">Status</th>
                <th class="alert-success" colspan="1">Subsistema</th>
                <th class="alert-success" colspan="1">Accion</th>
            </tr>
            @if (Model != null)
            {
                    foreach(var ticket in Model)
                    {
                        <tr>
                            <td colspan="1"> @ticket.id</td>
                            <td colspan="2"> @ticket.titulo</td>
                            <td colspan="1"> @ticket.categoria_name</td>
                            <td colspan="1"> @ticket.usuario_name</td>
                            <td colspan="1"> @ticket.status_name</td>
                            <td colspan="1"> @ticket.Subsistema_name</td>
                            <td>
                                <input type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" value="Ver" />
                                <input type="button" class="btn btn-default" onclick="document.location.href = '@Url.Content("~/Tickets/EditTicket/" + ticket.id)'" value="Editar" />
                            </td>
                        </tr>
                    }
            }
        </table>      
    </div>
</div>


   
