@using TAS360.Models.ViewModel;
@using Newtonsoft.Json;
@model List<TAS360.Models.ViewModel.TicketViewModel>
@{
    ViewBag.Title = "Mis Tickets";
    string exception = ViewBag.ExceptionMessage;
    string Info = ViewBag.InfoMessage;
    // Objeto a enviar
    string encodedCurrentList = "";
    // Serialización y codificación
    var serializedObject = JsonConvert.SerializeObject(Model.FirstOrDefault().ListbyFilterTicket);
    encodedCurrentList = HttpUtility.UrlEncode(serializedObject);
}

<div class="jumbotron">
    <h1>Mis Tickets</h1>
    <p class="lead">Todos los tickets abiertos ( @Model.Count() ) ordenados por fecha descendente</p>
    <p class="lead">
        <a onclick="document.location.href = '@Url.Content("~/Tickets/CreateTicket")'" class="btn btn-success">Crear un Ticket &raquo;</a>
        @*Se agrega un botón para que de Index de tickets te envíe a la vista del
            filtro de tickets*@
        <button onclick="document.location.href = '@Url.Content("~/Tickets/Filter_Tickets")'" type="button" class="btn btn-warning" data-toggle="tooltip" title="Realiza un filtrado personalizado de los pendientes ">
            Filtrado &fnof;
        </button>
        <button onclick="document.location.href = '@Url.Content("~/Tickets/ExportTableTickets/?encodedCurrentList="+ encodedCurrentList)'" type="button" class="btn btn-info" data-toggle="tooltip" title="Exporta la tabla actual ">
            Exportar &pound;
        </button>
    </p>
    @if (exception != null)
    {
        <div class="alert alert-danger" role="alert">
            @exception
        </div>
    }
    @if (Info != null)
    {
        <div class="alert alert-info" role="alert">
            @Info
        </div>
    }
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="d-flex justify-content-end">
                <input type="text" id="searchInput" placeholder="Busqueda global" title="Busca cualquier concidencia del cuadro de busqueda con los tickets actuales">
                <button onclick="filterTable()" class="btn btn-primary" title="Busca cualquier concidencia del cuadro de busqueda con los tickets actuales">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="1">Folio</th>
                    <th colspan="2">Titulo</th>
                    <th colspan="2">Ultimo comentario</th>
                    <th colspan="1">Status</th>
                    <th colspan="1">Terminal</th>
                    <th colspan="2">Accion</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var ticket in Model)
                    {
                        <tr>
                            @switch (ticket.Status)
                            {
                                case 1:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-info" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 2:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-warning" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 3:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-warning" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 4:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-warning" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 9:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-success" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 11:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-danger" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 12:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-success" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 13:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-danger" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                case 15:
                                    <td colspan="1"> @ticket.id</td>
                                    <td colspan="2"> @ticket.titulo</td>
                                    <td colspan="2"> @ticket.LastComent</td>
                                    <td colspan="1">
                                        <div class="alert alert-danger" role="alert">
                                            @ticket.status_name
                                        </div>
                                    </td>
                                    <td colspan="1"> @ticket.terminal_name</td>
                                    <td colspan="1">
                                        <button onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" class="btn btn-default" data-toggle="tooltip" title="Detalles el Ticket">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" /></svg> Ver
                                        </button>
                                    </td>
                                    break;
                                default:
                                    break;
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function filterTable() {
        var input, filter, table, tr, td, i, j, txtValue, found;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementsByTagName("table")[0];
        tr = table.getElementsByTagName("tr");

        // Iterar sobre todas las filas de la tabla, comenzando desde el índice 1 para omitir los encabezados
        for (i = 1; i < tr.length; i++) {
            found = false; // Reiniciamos el indicador de coincidencia para cada fila
            // Obtener todas las celdas de la fila
            td = tr[i].getElementsByTagName("td");
            // Iterar sobre todas las celdas de la fila
            for (j = 0; j < td.length; j++) {
                // Obtener el contenido de la celda y convertirlo a mayúsculas para la comparación
                txtValue = td[j].textContent || td[j].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    // Si el texto coincide con el filtro, marcar como encontrado y salir del bucle interno
                    found = true;
                    break;
                }
            }
            // Mostrar u ocultar la fila de datos dependiendo de si se encontró una coincidencia
            tr[i].style.display = found ? "" : "none";
        }
    }
</script>



