@model TAS360.Models.ViewModel.TicketViewModel
@{
    ViewBag.Title = "Ticket : " + @Model.id;
    int count = 0;
    int count1 = 0;
    string exception = ViewBag.Exception;
    string Info = ViewBag.Info;
}
<div class="jumbotron">
    @switch (Model.status_name)
    {
        case "Pendiente ":
            <h2 style="color:blue">@Model.status_name</h2>
            break;
        case "Analisis  ":
            <h2 style="color:orangered">@Model.status_name</h2>
            break;
        case "Correccion":
            <h2 style="color:orangered">@Model.status_name</h2>
            break;
        case "Pruebas   ":
            <h2 style="color:orange">@Model.status_name</h2>
            break;
        case "Implementa":
            <h2 style="color:darkgreen">@Model.status_name</h2>
            break;
        case "Pend_Pmx  ":
            <h2 style="color:red">@Model.status_name</h2>
            break;
        case "Cerrado   ":
            <h2 style="color:green">@Model.status_name</h2>
            break;
        default:
            <h2>@Model.status_name</h2>
            break;
    }
    <h3>@Model.titulo</h3>
    @*<p class="lead">Reporte de volumen totalizado por islas en la TAD del día 20/10/2020</p>*@
    @if (exception != null)
    {
        <div class="alert alert-danger" role="alert">
            @exception
        </div>
    }
    @if (Info != null)
    {
        <div class="alert alert-info" role="alert">
            @Info
        </div>
    }
    <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">

                <div class="d-flex justify-content-end">
                    <a class="btn btn-default " href="@Url.Content("~/Tickets/index")">Regresar</a>
                    <a class="btn btn-warning " href="@Url.Content("~/Tickets/AddCommentTicket/" + (int)Model.id)">Agregar comentario</a>
                    <a class="btn btn-info " href="@Url.Content("~/Tickets/PrintTicketReport/" + (int)Model.id)">Generar Reporte</a>
                    @*<button onclick="document.location.href = '@Url.Content("~/Pendientes/IndexWithFilter/?encodedCurrentList="+ encodedCurrentList)'"
                                type="button" class="btn btn-warning" data-toggle="tooltip" title="Regresar al ventana general de pendientes">
                            Vista General &crarr;
                        </button>
                        <button onclick="document.location.href = '@Url.Content("~/Pendientes/ExportTablePendientes/?encodedCurrentList="+ encodedCurrentList)'"
                                type="button" class="btn btn-info" data-toggle="tooltip" title="Exporta a excel la tabla actual ">
                            Exportar Listado &pound;
                        </button>*@
                </div>
            </div>
        </div>
    </div>
<!--Heathers -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped">
            <tr>
                @*<th class="alert-success">Status</th>*@
                <th class="alert-success">Subsistema</th>
                <th class="alert-success">Categoria</th>
                <th class="alert-success">Responsable</th>
                <th class="alert-success">Terminal</th>
                @*<th class="alert-info">Sobrante(-) faltante(+)</th>*@

            </tr>
            <tr>
                @*<td>@Model.status_name</td>*@
                <td>@Model.Subsistema_name</td>
                <td> @Model.categoria_name</td>
                <td>@Model.usuario_name</td>
                <td>@Model.terminal_name</td>
            </tr>
        </table>
    </div>
</div>
<!--Section details-->
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="margin:05px 0px 0px 0px">
                <pre>@Model.mensaje</pre>
                <div class="cta-inner bg-faded text-left rounded">
                    <div class="intro-button mx-auto">
                        <br />
                        @using (Html.BeginForm("AddFiles", "Tickets", new { IdTicket = Model.id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="postedFile" style="margin:0 0 5px 0" />
                            <input class="btn btn-success" type="submit" value="Agregar evidencia" />
                        }
                        <br />
                        
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin:05px 0px 0px 0px">
                @*<h3>Record Status</h3>*@
                <table class="table table-success table-striped">
                    <tr>
                        <th class="alert-info">Record Status</th>                
                    </tr>
                        @foreach (var status in Model.RecordStatus)
                        {
                            <tr>
                                <td>@status</td>
                            </tr>
                        }                    
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Imagenes -->
<div class="row" style="margin:05px 0px 0px 0px">
    @foreach (var photo in Model.Files)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@photo.URL" />
                <div class="caption">
                    <h4>@photo.Nombre</h4>
                </div>
                <p>
                    <a href="@photo.URL" class="btn btn-primary" role="button">Ver</a>
                    <a href="@Url.Content("~/Tickets/DonloadTicketFile/" + (int)photo.id)" class="btn btn-default" role="button">Descargar</a>
                </p>
            </div>
        </div>
    }
</div>


