@model TAS360.Models.ViewModel.TicketViewModel
@{
    ViewBag.Title = "Reporte de Ticket : " + @Model.id;
    int count = 0;
    int count1 = 0;
    string exception = ViewBag.Exception;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="jumbotron">
    <!--Header Image-->
    <div class="col-xs-3">
        <div class="thumbnail">
            <img src="https://pts-tools.com.mx/Content/img/proftech-logo-01.png" />            
        </div>
    </div>
    <!--Status-->
    @switch (Model.status_name)
    {
        case "Pendiente ":
            <h2 style="color:blue">@Model.status_name</h2>
            break;
        case "Analisis  ":
            <h2 style="color:orangered">@Model.status_name</h2>
            break;
        case "Correccion":
            <h2 style="color:orangered">@Model.status_name</h2>
            break;
        case "Pruebas   ":
            <h2 style="color:orange">@Model.status_name</h2>
            break;
        case "Implementa":
            <h2 style="color:yellow">@Model.status_name</h2>
            break;
        case "Pend_Pmx  ":
            <h2 style="color:red">@Model.status_name</h2>
            break;
        case "Cerrado   ":
            <h2 style="color:blue">@Model.status_name</h2>
            break;
        default:
            <h2>@Model.status_name</h2>
            break;
    }
    <h3>@Model.titulo</h3>
    @if (exception != null)
    {
        <br />
        <pre style="font-size:2rem; color:red">@exception</pre>
    }
</div>
<!--Heathers -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped">
            <tr>
                
                <th class="alert-success">Subsistema</th>
                <th class="alert-success">Categoria</th>
                <th class="alert-success">Usuario</th>        

            </tr>
            <tr>
                <td>@Model.Subsistema_name</td>
                <td> @Model.categoria_name</td>
                <td>@Model.usuario_name</td>
            </tr>
        </table>
    </div>
</div>
<!--Section details-->
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="margin:05px 0px 0px 0px">
                <pre>@Model.mensaje</pre>
            </div>
            <div class="col-md-2" style="margin:05px 0px 0px 0px">
                @*<h3>Record Status</h3>*@
                <table class="table table-success table-striped">
                    <tr>
                        <th class="alert-info">Record Status</th>
                    </tr>
                    @foreach (var status in Model.RecordStatus)
                    {
                        <tr>
                            <td>@status</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Imagenes -->
<div class="row" style="margin:05px 0px 0px 0px">
    @foreach (var photo in Model.Files)
    {
        <div class="col-md-5 mx-auto">
            <div class="thumbnail">
                <img src="@photo.URL" />
                <div class="caption">
                    <h4>@photo.Nombre</h4>
                </div>
                
            </div>
        </div>
    }
</div>

