@model TAS360.Models.ViewModel.PendientesViewModel
@{
    ViewBag.Title = "Crear Pendiente";
    List<SelectListItem> Clasificacion = (List<SelectListItem>)ViewBag.Clasificacion;
    List<SelectListItem> Terminales = (List<SelectListItem>)ViewBag.Terminales;
    List<SelectListItem> Prioridad = (List<SelectListItem>)ViewBag.Prioridad;
    List<SelectListItem> Usuarios = (List<SelectListItem>)ViewBag.Usuarios;
    List<SelectListItem> Subsistemas = (List<SelectListItem>)ViewBag.Subsistemas;
    List<SelectListItem> Tickets = (List<SelectListItem>) ViewBag.Tickets;
    List<SelectListItem> Status = (List<SelectListItem>)ViewBag.Status;
    string exception = ViewBag.ExceptionMessage;
}
<br />
<br />
<section class="page-section about-heading">
    <div class="container">
        @if (exception != null)
        {
            <h3 style="color:red">@exception</h3>
            <div class="alert alert-danger" role="alert">
                @exception
            </div>
        }
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">                            
                            <span class="section-heading-lower">Crear Pendiente</span>
                        </h2>
                        <div class="row" style="margin:5px 0 0 0">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Create", "Pendientes", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <br />
                                    <div name="row1" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.id_Terminal)
                                                @Html.DropDownListFor(model => model.id_Terminal, Terminales, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.id_Terminal, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-4">
                                                <label>Clasificación</label>
                                                @Html.DropDownListFor(model => model.id_Clasificacion, Clasificacion, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4">
                                                <label>Subsistema</label>
                                                @Html.DropDownListFor(model => model.id_Subsistema, Subsistemas, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-md-2" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.id_Prioridad)
                                                @Html.DropDownListFor(model => model.id_Prioridad, Prioridad, new { @class = "form-control", @style = "color:white ; background:#F39C12; " })
                                                @Html.ValidationMessageFor(v => v.id_Prioridad, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-3" style="margin: 10px 0px 0px 0px;">
                                                <label>Responsable</label>
                                                @Html.DropDownListFor(model => model.id_User, Usuarios, new { @class = "form-control" })
                                            </div>
                                            <div class="col-lg-2" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.Avance)
                                                @Html.TextBoxFor(model => model.Avance, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Avance, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-5" style="margin: 10px 0px 0px 0px;">
                                                <label>Ticket</label>
                                                @Html.DropDownListFor(model => model.id_Ticket, Tickets, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div  name="row2" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">                                           
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                <label>Fecha de creación</label>
                                                @Html.TextBoxFor(x => x.CreatedAt, "{0:dd-MM-yyyy}", new { @class = "form-control", @placeholder = "plz input date", @readonly = "true" })
                                            </div>
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                <label>Fecha compromiso</label>
                                                @Html.TextBoxFor(x => x.Fecha_Compromiso, "{0:dd-MM-yyyy}", new { @class = "form-control", @placeholder = "dd-MM-yyyy" })
                                            </div>
                                            <div class="col-md-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l=>l.id_status);
                                                @Html.DropDownListFor(model => model.id_status, Status, new { @class = "form-control", @readonly = "true" })
                                            </div>
                                        </div>
                                    </div>
                                    <div name="row3" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.Descripcion)
                                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Descripcion, null, new { @class = "red" })
                                            </div>
                                            <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.Actividades_Pend_Susess)
                                                @Html.TextAreaFor(model => model.Actividades_Pend_Susess, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Actividades_Pend_Susess, null, new { @class = "red" })
                                            </div>
                                            <div class="row" style="margin:0 0 10px 0">
                                                <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                    @Html.LabelFor(l => l.Observacion)
                                                    @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="row" style="margin: 5px 0px 0px 0px; text-align:right">
                                        <input type="submit" class="btn btn-lg btn-primary" value="Crear" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

