@using TAS360.Models.ViewModel;
@using Newtonsoft.Json;
@model TAS360.Models.ViewModel.PendientesViewModel
@{

    ViewBag.Title = "Detalles del Pendiente " + Model.id;
    List<SelectListItem> Clasificacion = (List<SelectListItem>)ViewBag.Clasificacion;
    List<SelectListItem> Terminales = (List<SelectListItem>)ViewBag.Terminales;
    List<SelectListItem> Prioridad = (List<SelectListItem>)ViewBag.Prioridad;
    List<SelectListItem> Usuarios = (List<SelectListItem>)ViewBag.Usuarios;
    List<SelectListItem> Subsistemas = (List<SelectListItem>)ViewBag.Subsistemas;
    List<SelectListItem> Tickets = (List<SelectListItem>)ViewBag.Tickets;
    List<SelectListItem> Status = (List<SelectListItem>)ViewBag.Status;
    TimeSpan diferencia = Model.Fecha_Compromiso - DateTime.Now;
    int dias = diferencia.Days;
    string exception = ViewBag.ExceptionMessage;
    string Info = ViewBag.InfoMessage;
    int count = 1;
    int previus = 0;
    int Next = 0;
    for (int i = 0; i <= Model.currentList.Count; i++)
    {
        if (Model.currentList[i].is_selected)
        {
            if (i == 0)
            {
                previus = Model.currentList.LastOrDefault().id;
            }
            else
            {
                if (i - 1 < 0)
                {
                    previus = Model.currentList[0].id;
                }
                else
                {
                    previus = Model.currentList[i - 1].id;
                }

            }
            if (i == Model.currentList.Count)
            {
                Next = Model.currentList.FirstOrDefault().id;
            }
            else
            {
                if (i + 1 == Model.currentList.Count)
                {
                    Next = Model.currentList.FirstOrDefault().id;
                }
                else
                {
                    Next = Model.currentList[i + 1].id;
                }
            }
            break;
        }
        count = count + 1;
    }
    // Objeto a enviar
    string encodedCurrentList = "";
    // Serialización y codificación
    var serializedObject = JsonConvert.SerializeObject(Model.currentList);
    encodedCurrentList = HttpUtility.UrlEncode(serializedObject);
}
<br />
<!--Heather jumbotron-->
<div class="jumbotron">
    <h2>Detalles del Pendiente # @count de @Model.currentList.Count </h2>
    @if (exception != null)
    {
        <div class="alert alert-danger" role="alert">
            @exception
        </div>
    }
    @if (Info != null)
    {
        <div class="alert alert-info" role="alert">
            @Info
        </div>
    }
    @switch (Model.id_status)
    {
        case 1:
            <h3 style="color:blue">Status: Pendiente</h3>
            break;
        case 2:
            <h3 style="color:orangered">Status: Análisis</h3>
            break;
        case 3:
            <h3 style="color:orangered">Status: Corrección</h3>
            break;
        case 4:
            <h3 style="color:orange">Status: Pruebas</h3>
            break;
        case 9:
            <h3 style="color:yellow">Status: Implementación</h3>
            break;
        case 11:
            <h3 style="color:red">Status: Pendiente por pemex</h3>
            break;
        case 12:
            <h3 style="color:blue">Status: Cerrado</h3>
            break;
        case 13:
            <h3 style="color:blue">Status: Pendiente por PTS</h3>
            break;
        case 15:
            <h3 style="color:blue">Status: Pendiente por PTS</h3>
            break;
        default:
            <h3>Sin Status</h3>
            break;
    }
    @if (Model.Descripcion.Count() > 61)
    {
        <p class="lead">@Model.Descripcion.Substring(0, 60) ... </p>
    }
    else
    {
        <p class="lead">@Model.Descripcion</p>
    }
    <div class="col-md-12" style="margin:0 0 0 0">
        <button onclick="document.location.href = '@Url.Content("~/Pendientes/Details/?encodedCurrentList="+ encodedCurrentList +"&id_pendiente=" + previus)'"
                type="button" class="btn btn-primary" data-toggle="tooltip" title="se abrirá el anterior pendiente">
            &laquo; Anterior
        </button>
        <button onclick="document.location.href = '@Url.Content("~/Pendientes/Edit/?encodedCurrentList="+ encodedCurrentList +"&id_pendiente=" + Model.id)'"
                type="button" class="btn btn-default" data-toggle="tooltip" title="Editar pendiente">
            &epsilon; Editar
        </button>
        <button onclick="document.location.href = '@Url.Content("~/Pendientes/Details/?encodedCurrentList="+ encodedCurrentList +"&id_pendiente=" + Next)'"
                type="button" class="btn btn-primary" data-toggle="tooltip" title="se abrirá el anterior pendiente">
            Siguiente &raquo;
        </button>
    </div>
</div>
<!--Page section -->
<section class="page-section about-heading">
    <div class="container">
        <!--Renglon 1 -->
        <div class="row">
            <div class="col-md-12" style="margin:5px 0 0 0">
                <table class="table table-success table-striped table-bordered">
                    <tr class="thead-dark">
                        <th class="alert-success">Terminal de almacenamiento y despacho</th>
                        <th class="alert-success">Subsistema</th>
                        <th class="alert-success">Clasificación</th>
                        <th class="alert-success">Responsable</th>
                        <th class="alert-success">Usuario creador</th>
                        <th class="alert-success">Versión</th>

                    </tr>
                    <tr>
                        <td>@Model.Terminal.Nombre</td>
                        <td>@Model.Subsistema.Nombre</td>
                        <td title="@Model.Clasificacion_Pendiente.Descripcion"> @Model.Clasificacion_Pendiente.Nombre</td>
                        <td>@Model.Responsable</td>
                        <td>@Model.User.nombre</td>
                        <td>@Model.version_where_the_Pending_was_found</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Renglon 2 -->
        <div class="row" style="margin:0 0 10px 0">
            @switch (Model.id_Prioridad)
            {
                case 1:
                    <table class="table table-success table-striped table-bordered">
                        <tr class="thead-dark">
                            <th class="alert-danger">Prioridad</th>
                            <th class="alert-success">% de Avance</th>
                            @if (@Model.id_Ticket != 0)
                            {
                                <th class="alert-success">Ticket relacionado</th>
                            }
                            <th class="alert-success">Fecha de creacion</th>
                            <th class="alert-success">Fecha de compromiso</th>
                            <th class="alert-success">Días restantes</th>
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <th class="alert-success" title="Versión donde fue resuelto">Versión</th>
                            }
                        </tr>
                        <tr>
                            <td>@Model.Prioridad.Descripcion</td>
                            <td>@Model.Avance</td>
                            @if (@Model.id_Ticket != 0)
                            {
                                <td>@Model.id_Ticket</td>
                            }
                            <td>@Model.CreatedAt.ToShortDateString()</td>
                            <td>@Model.Fecha_Compromiso.ToShortDateString()</td>
                            @{

                                if (DateTime.Now.ToShortDateString() == Model.Fecha_Compromiso.ToShortDateString())
                                {
                                    <td style="color:darkblue"> Hoy es la entrega </td>

                                }
                                else if (DateTime.Now < Model.Fecha_Compromiso)
                                {
                                    if (dias <= 5)
                                    {
                                        <td style="color:red"> @dias </td>
                                    }
                                    else if (dias <= 10)
                                    {
                                        <td style="color:orange"> @dias </td>
                                    }
                                    else
                                    {
                                        <td style="color:green"> @dias </td>
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Atrasado @dias días </td>
                                }
                            }
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <td>@Model.version_where_the_Pending_is_fixed</td>
                            }
                        </tr>
                    </table>
                    break;
                case 2:
                    <table class="table table-success table-striped table-bordered">
                        <tr class="thead-dark">
                            <th class="alert-warning">Prioridad</th>
                            <th class="alert-success">% de Avance</th>
                            @if (@Model.id_Ticket != 0)
                            {
                                <th class="alert-success">Ticket relacionado</th>
                            }
                            <th class="alert-success">Fecha de creacion</th>
                            <th class="alert-success">Fecha de compromiso</th>
                            <th class="alert-success">Días restantes</th>
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <th class="alert-success" title="Versión donde fue resuelto">Versión</th>
                            }
                        </tr>
                        <tr>
                            <td>@Model.Prioridad.Descripcion</td>
                            <td>@Model.Avance</td>
                            @if (@Model.id_Ticket != 0)
                            {
                                <td>@Model.id_Ticket</td>
                            }
                            <td>@Model.CreatedAt.ToShortDateString()</td>
                            <td>@Model.Fecha_Compromiso.ToShortDateString()</td>
                            @{
                                if (DateTime.Now.ToShortDateString() == Model.Fecha_Compromiso.ToShortDateString())
                                {
                                    <td style="color:darkblue"> Hoy es la entrega </td>

                                }
                                else if (DateTime.Now < Model.Fecha_Compromiso)
                                {
                                    if (dias <= 5)
                                    {
                                        <td style="color:red"> @dias </td>
                                    }
                                    else if (dias <= 10)
                                    {
                                        <td style="color:orange"> @dias </td>
                                    }
                                    else
                                    {
                                        <td style="color:green"> @dias </td>
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Atrasado @dias días </td>
                                }
                            }
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <td>@Model.version_where_the_Pending_is_fixed</td>
                            }
                        </tr>
                    </table>
                    break;
                case 3:
                    <table class="table table-success table-striped table-bordered">
                        <tr class="thead-dark">
                            <th class="alert-info">Prioridad</th>
                            <th class="alert-success">% de Avance</th>
                            @if (@Model.id_Ticket != 0)
                            {
                                <th class="alert-success">Ticket relacionado</th>
                            }
                            <th class="alert-success">Fecha de creacion</th>
                            <th class="alert-success">Fecha de compromiso</th>
                            <th class="alert-success">Días restantes</th>
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <th class="alert-success" title="Versión donde fue resuelto">Versión</th>
                            }
                        </tr>
                        <tr>
                            <td>@Model.Prioridad.Descripcion</td>
                            <td>@Model.Avance</td>
                            @if (@Model.id_Ticket != 0)
                            {
                                <td>@Model.id_Ticket</td>
                            }
                            <td>@Model.CreatedAt.ToShortDateString()</td>
                            <td>@Model.Fecha_Compromiso.ToShortDateString()</td>
                            @{
                                if (DateTime.Now.ToShortDateString() == Model.Fecha_Compromiso.ToShortDateString())
                                {
                                    <td style="color:darkblue"> Hoy es la entrega </td>

                                }
                                else if (DateTime.Now < Model.Fecha_Compromiso)
                                {
                                    if (dias <= 5)
                                    {
                                        <td style="color:red"> @dias </td>
                                    }
                                    else if (dias <= 10)
                                    {
                                        <td style="color:orange"> @dias </td>
                                    }
                                    else
                                    {
                                        <td style="color:green"> @dias </td>
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Atrasado @dias días </td>
                                }
                            }
                            @if (!string.IsNullOrEmpty(@Model.version_where_the_Pending_is_fixed))
                            {
                                <td>@Model.version_where_the_Pending_is_fixed</td>
                            }
                        </tr>
                    </table>
                    break;
            }
        </div>
        <!--Renglon 3 -->
        <div class="row" style="margin:0 0 0 0">
            <!--Descripcion - Actividad Pendeinte SUSESS - Observacion -->
            <div class="col-md-10" style="margin: 0px 0px 0px 0px;">
                @Html.LabelFor(l => l.Descripcion)
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @Style = "Width: 100%; height: 100px", @readonly = "true" })
                @Html.ValidationMessageFor(f => f.Descripcion, null, new { @class = "red" })

                @Html.LabelFor(l => l.Actividades_Pend_Susess)
                @Html.TextAreaFor(model => model.Actividades_Pend_Susess, new { @class = "form-control", @Style = "Width: 100%; height: 150px", @readonly = "true" })
                @Html.ValidationMessageFor(f => f.Actividades_Pend_Susess, null, new { @class = "red" })

                @Html.LabelFor(l => l.Observacion)
                @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control", @Style = "Width: 100%; height: 200px", @readonly = "true" })
            </div>
            <!--Record Status -->
            <div class="col-md-2" style="margin:0 0px 0px 0px">
                <table class="table table-success table-striped">
                    <tr>
                        <th class="alert-info">Record Status</th>
                    </tr>
                    @foreach (var record_Status in Model.Record_Status)
                    {
                        <tr>
                            <td>@record_Status.Status.descripcion</td>
                        </tr>
                    }
                </table>
                @if (Model.is_PAS)
                {
                    <div class="alert alert-warning" role="alert">
                        Este pendiente es una prueba del protocolo en sitio.
                        <br />
                        <strong>Es PAS</strong>
                    </div>
                }
                @if (Model.is_PAF)
                {
                    <div class="alert alert-danger" role="alert">
                        Este pendiente es una prueba del protocolo en fabrica.
                        <br />
                        <strong>Es PAF</strong>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


