@model TAS360.Models.ViewModel.PendientesViewModel
@{
    ViewBag.Title = "Editar Pendiente";
    List<SelectListItem> Clasificacion = (List<SelectListItem>)ViewBag.Clasificacion;
    List<SelectListItem> Terminales = (List<SelectListItem>)ViewBag.Terminales;
    List<SelectListItem> Prioridad = (List<SelectListItem>)ViewBag.Prioridad;
    List<SelectListItem> Usuarios = (List<SelectListItem>)ViewBag.Usuarios;
    List<SelectListItem> Subsistemas = (List<SelectListItem>)ViewBag.Subsistemas;
    List<SelectListItem> Tickets = (List<SelectListItem>)ViewBag.Tickets;
    List<SelectListItem> Status = (List<SelectListItem>)ViewBag.Status;
    string exception = ViewBag.ExceptionMessage;
    string Info = ViewBag.InfoMessage;
    string warning = ViewBag.warning;
    
}
<div class="jumbotron">
    <h1 class="section-heading mb-4">
        <span class="section-heading-lower">Editar Pendiente # @Model.id</span>
    </h1>
    @if (exception != null)
    {
        <div class="alert alert-danger" role="alert">
            @exception
        </div>
    }
    @if (Info != null)
    {
        <div class="alert alert-info" role="alert">
            @Info
        </div>
    }
    @if (warning != null)
    {
        <div class="alert alert-warning" role="alert">
            @warning
        </div>
    }
</div>
<section class="page-section about-heading">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <div class="row" style="margin:5px 0 0 0">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Edit", "Pendientes", FormMethod.Post))
                                {
                                    //@Html.AntiForgeryToken();
                                    @Html.HiddenFor(x => x.id);
                                    for (int i = 0; i < Model.currentList.Count; i++)
                                    {
                                        @Html.HiddenFor(x => x.currentList[i].id)
                                        @Html.HiddenFor(x => x.currentList[i].is_selected)
                                    }
                                    <br />
                                    //Renglon 0
                                    <div name="row1" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.id_Terminal)
                                                @Html.DropDownListFor(model => model.id_Terminal, Terminales, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.id_Terminal, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(l => l.id_Clasificacion)
                                                @Html.DropDownListFor(model => model.id_Clasificacion, Clasificacion, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(v => v.id_Clasificacion)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(l => l.id_Subsistema)
                                                @Html.DropDownListFor(model => model.id_Subsistema, Subsistemas, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(v => v.id_Subsistema)
                                            </div>
                                        </div>
                                    </div>
                                    //Renglon 1
                                    <div class="row" style="margin:0 0 10px 0">
                                        <div class="col-md-12">
                                            <div class="col-md-2" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.id_Prioridad)
                                                @Html.DropDownListFor(model => model.id_Prioridad, Prioridad, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(v => v.id_Prioridad, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-3" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.Responsable)
                                                @Html.TextBoxFor(model => model.Responsable, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Responsable, null, new { @class = "red" })
                                            </div>
                                            <div class="col-lg-2" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.Avance)
                                                @Html.TextBoxFor(model => model.Avance, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Avance, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-5" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.id_Ticket)
                                                @Html.DropDownListFor(model => model.id_Ticket, Tickets, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(v => v.id_Ticket)
                                            </div>
                                        </div>
                                    </div>
                                    //Renglo 2
                                    <div name="row2" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.CreatedAt)
                                                @Html.TextBoxFor(x => x.CreatedAt, "{0:dd-MM-yyyy}", new { @class = "form-control", @placeholder = "plz input date", @readonly = "true" })
                                                @Html.ValidationMessageFor(v => v.CreatedAt, null, new { @class = "red" })
                                            </div>
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.Fecha_Compromiso)
                                                @Html.TextBoxFor(x => x.Fecha_Compromiso, "{0:dd-MM-yyyy}", new { @class = "form-control", @placeholder = "dd-MM-yyyy" })
                                                @*@Html.TextBoxFor(m => m.Fecha_Compromiso, "{0:MM/dd/yyyy}", new { @class = "form-control default-date-picker" })*@
                                                @Html.ValidationMessageFor(v => v.Fecha_Compromiso, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.id_status)
                                                @Html.DropDownListFor(model => model.id_status, Status, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(v => v.id_status)
                                            </div>
                                        </div>
                                    </div>
                                    //Renglo 3
                                    <div name="row2" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.version_where_the_Pending_was_found)
                                                @Html.TextBoxFor(x => x.version_where_the_Pending_was_found, new { @class = "form-control", @placeholder = "Version 2.16.xxx" })
                                                @Html.ValidationMessageFor(v => v.version_where_the_Pending_was_found, null, new { @class = "red" })
                                            </div>
                                            <div class="col-lg-4" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(L => L.version_where_the_Pending_is_fixed)
                                                @Html.TextBoxFor(x => x.version_where_the_Pending_is_fixed, new { @class = "form-control", @placeholder = "Version 2.16.xxx" })
                                                @Html.ValidationMessageFor(v => v.version_where_the_Pending_is_fixed, null, new { @class = "red" })
                                            </div>
                                            <div class="col-md-2" style="margin: 25px 0px 0px 0px;">
                                                @Html.CheckBoxFor(m => m.is_PAF)
                                                @Html.LabelFor(L => L.is_PAF)
                                            </div>
                                            <div class="col-md-2" style="margin: 25px 0px 0px 0px;">
                                                @Html.CheckBoxFor(m => m.is_PAS)
                                                @Html.LabelFor(l => l.is_PAS)
                                            </div>
                                        </div>
                                    </div>
                                    //Renglon 4
                                    <div name="row3" class="row" style="margin:0 0 10px 0">

                                        <div class="col-md-12">
                                            <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.Descripcion)
                                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Descripcion, null, new { @class = "red" })
                                            </div>
                                            <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                @Html.LabelFor(l => l.Actividades_Pend_Susess)
                                                @Html.TextAreaFor(model => model.Actividades_Pend_Susess, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Actividades_Pend_Susess, null, new { @class = "red" })
                                            </div>
                                            <div class="row" style="margin:0 0 10px 0">
                                                <div class="col-lg-12" style="margin: 10px 0px 0px 0px;">
                                                    @Html.LabelFor(l => l.Observacion)
                                                    @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 5px 0px 0px 0px; text-align:right">
                                        <input type="submit" class="btn btn-lg btn-primary" value="Guardar" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
