@using System.Collections.Generic; 

@model List<TAS360.Models.ViewModel.PendientesViewModel>
@{
    ViewBag.Title = "Pendientes del TAS360";
    int count = 0;
}

<div class="jumbotron">
    <h1>Lista de Pendientes</h1>
    <p class="lead">Todos los Pendientes para cerrar la version del sistema TAS360 </p>
    <p class="lead">
        <a onclick="document.location.href = '@Url.Content("~/Pendientes/Create")'" class="btn btn-success">Crear un pendiente &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="1" scope="col">Id</th>
                    <th colspan="3" scope="col">Descripcion</th>
                    <th colspan="2" scope="col">Clasificacion</th>
                    <th colspan="2" scope="col">Usuario</th>
                    <th colspan="2">Avance</th>
                    <th colspan="1">Subsistema</th>
                    <th colspan="1">Accion</th>
                </tr>

            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var pendiente in Model)
                    {
                        <tr>
                            <td colspan="1"> @pendiente.id</td>
                            <td colspan="3"> @pendiente.Descripcion</td>
                            <td colspan="2"> @pendiente.Clasificacion_Pendiente.Clave</td>
                            <td colspan="2"> @pendiente.User.nombre</td>
                            <td colspan="2"> @pendiente.Avance</td>
                            <td colspan="1"> @pendiente.Subsistema.Nombre</td>
                            <td colspan="1">
                                <input type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Pendientes/Details/" + pendiente.id)'" value="Detalles" />
                                <input type="button" class="btn btn-default" onclick="document.location.href = '@Url.Content("~/Pendientes/Edit/" + pendiente.id)'" value="Editar" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

