@model TAS360.Models.ViewModel.PendientesViewModel
@{
    ViewBag.Title = "Pendientes del TAS360";
}

<div class="jumbotron">
    <h1>Lista de Pendientes</h1>
    <p class="lead">Todos los Pendientes para cerrar la version del sistema TAS360 </p>
    <p class="lead">
        <a onclick="document.location.href = '@Url.Content("~/Pendientes/Create")'" class="btn btn-success">Crear un pendiente &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-success table-striped">
            <tr>
                <th class="alert-success" colspan="1">Id</th>
                <th class="alert-info" colspan="2">Descripcion</th>
                <th class="alert-warning" colspan="1">Clasificacion</th>
                <th class="alert-success" colspan="1">Usuario</th>
                <th class="alert-success" colspan="1">Avance</th>
                <th class="alert-success" colspan="1">Subsistema</th>
                <th class="alert-success" colspan="1">Accion</th>
            </tr>
            @if (Model != null)
            {
                foreach (var pendiente in Model.Pendientes)
                {
                    <tr>
                        <td colspan="1"> @pendiente.id</td>
                        <td colspan="2"> @pendiente.Descripcion</td>
                        <td colspan="1"> @pendiente.Clasificacion_Pendiente.Clave</td>
                        <td colspan="1"> @pendiente.User.nombre</td>
                        <td colspan="1"> @pendiente.Avance</td>
                        <td colspan="1"> @pendiente.Subsistema.Nombre</td>
                        <td>
                            @*<input type="button" class="btn btn-info" onclick="document.location.href = '@Url.Content("~/Tickets/ShowTicket/" + ticket.id)'" value="Ver" />*@
                            <input type="button" class="btn btn-default" onclick="document.location.href = '@Url.Content("~/Pendientes/Edit/" + pendiente.id)'" value="Editar" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

