
@{
    ViewBag.Title = "Docs";
}
<div class="jumbotron">
    <h2>Procedimientos TAS360 </h2>
    <p class="lead">
        En esta pagina podras encontrar los procedimientos para la instalacion y comisionamiento del software TAS360 y VTSCADA.
    </p>

</div>
<div class="row">
    <div class="col-md-4" style="margin:0px 0px 0px 0px">
        <h3><strong style="font-family: Monotype Corsiva ">Ultima actualizacion: Marzo 2024</strong></h3>
        <table class="table table-success">
            @* INCISO A) *@
            <tr>
                <th colspan="2" class="alert-info">INCISO A) PROCEDIMIENTO DE INSTALACIÓN DEL SOFTWARE</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN TAS360</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A1 PTS-ATAD-P-PCM-002.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE INSTALACIÓN TAS360">A2 PTS-ATAD-P-PCM-002 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE ACTIVACIÓN DE LICENCIA TAS360</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A5 PTS-ATAD-P-PCM-003.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE ACTIVACIÓN DE LICENCIA TAS360">A5 PTS-ATAD-P-PCM-003 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN VTSCADA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A1 PTS-ATAD-P-PCM-004.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE INSTALACIÓN VTSCADA">A1 PTS-ATAD-P-PCM-004 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN SQL SERVER</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A3 PTS-ATAD-P-PCM-005.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE INSTALACIÓN SQL SERVER">A3 PTS-ATAD-P-PCM-005 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO PARA LA CREACIÓN DE REINOS DEL VTSCADA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A4 PTS-ATAD-P-PCM-006.pdf")'" class="btn btn-info" title="PROCEDIMIENTO PARA LA CREACIÓN DE REINOS DEL VTSCADA">A4 PTS-ATAD-P-PCM-006 &raquo;</a></td>
            </tr>
            <tr>
                <td> PROCEDIMIENTO DE CONFIGURACIÓN DE CLÚSTER DE CONMUTACIÓN POR ERROR (REDUNDANCIA)</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/A6 PTS-ATAD-P-PCM-007.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE CONFIGURACIÓN DE CLÚSTER DE CONMUTACIÓN POR ERROR (REDUNDANCIA)">A6 PTS-ATAD-P-PCM-007 &raquo;</a></td>
            </tr>
            @* INCISO B) *@
            <tr>
                <th colspan="2" class="alert-success">INCISO B) PROCEDIMIENTO DE CONFIGURACIÓN DE LOSPARÁMETROS INDICADOS EN LA SECCIÓN 4 Y SUBAPARTADOS PARA CADA TIPO DE INSTALACIÓN INDICADOS EN EL ANEXO 10.2. BASE DE DATOS DE COMO QUEDARON CONFIGURADOS TODOS LOSPARÁMETROS INDICADOS EN EL PUNTO ANTERIOR</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA UCLS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B2 PTS-ATAD-P-PCM-111.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA UCLS">B2 PTS-ATAD-P-PCM-111 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON CIU 858</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B3 PTS-ATAD-P-PCM-102.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON CIU 858">B3 PTS-ATAD-P-PCM-102 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON UCLS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B4 PTS-ATAD-P-PCM-103.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON UCLS">B4 PTS-ATAD-P-PCM-103 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL TRANSPORTISTA  CONTENEDOR</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B6 PTS-ATAD-P-PCM-121.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL TRANSPORTISTA CONTENEDOR">B6 PTS-ATAD-P-PCM-121 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE PRODUCTOS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B7 PTS-ATAD-P-PCM-108.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE PRODUCTOS">B7 PTS-ATAD-P-PCM-108 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE BAHÍAS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B8 PTS-ATAD-P-PCM-109.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE BAHÍAS">B8 PTS-ATAD-P-PCM-109 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE SERVICIOS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B9 PTS-ATAD-P-PCM-110.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE SERVICIOS">B9 PTS-ATAD-P-PCM-110 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE PERFILES, PERMISOS, ACCESO A MONITOREO Y CONTROL TAS360 Y VTSCADA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B11 PTS-ATAD-P-PCM-123.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE PERFILES, PERMISOS, ACCESO A MONITOREO Y CONTROL TAS360 Y VTSCADA">B11 PTS-ATAD-P-PCM-123 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE COMERCIALIZADORES</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B12 PTS-ATAD-P-PCM-130.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE COMERCIALIZADORES">B12 PTS-ATAD-P-PCM-130 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE DATOS INICIALES DEL TAS360</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B13 PTS-ATAD-P-PCM-105.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE DATOS INICIALES DEL TAS360">B13 PTS-ATAD-P-PCM-105 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA ENDRESS+HAUSER</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B14 PTS-ATAD-P-PCM-106.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA ENDRESS+HAUSER">B14 PTS-ATAD-P-PCM-106 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE TANQUES</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B15 PTS-ATAD-P-PCM-107.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE TANQUES">B15 PTS-ATAD-P-PCM-107 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA CIU858</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/B/B16 PTS-ATAD-P-PCM-116.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL SISTEMA DE MEDICIÓN PARA CIU858">B16 PTS-ATAD-P-PCM-116 &raquo;</a></td>
            </tr>
            @* INCISO C) *@
            <tr>
                <th colspan="2" class="alert-warning">INCISO C) PROCEDIMIENTO PARA EL DESARROLLO DE GRÁFICOS</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO PARA EL DESARROLLO DE GRÁFICOS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/C/C1 PTS-ATAD-P-PCM-126.pdf")'" class="btn btn-warning" title="PROCEDIMIENTO PARA EL DESARROLLO DE GRÁFICOS">C1 PTS-ATAD-P-PCM-126 &raquo;</a></td>
            </tr>
            @* INCISO D) *@
            <tr>
                <th colspan="2" class="alert-danger">INCISO D) RELACIÓN DE TODOS LOS GRÁFICOS Y SU CONFIGURACIÓN EN EL SISTEMA</th>
            </tr>
            <tr>
                <td>RELACIÓN DE TODOS LOS GRÁFICOS Y SU CONFIGURACIÓN EN EL SISTEMA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/D/D1 PTS-ATAD-P-PCM-127.pdf")'" class="btn btn-danger" title="RELACIÓN DE TODOS LOS GRÁFICOS Y SU CONFIGURACIÓN EN EL SISTEMA">D1 PTS-ATAD-P-PCM-127 &raquo;</a></td>
            </tr>
            @* INCISO E) *@
            <tr>
                <th colspan="2" class="alert-info">INCISO E) PROCEDIMIENTO PARA CONFIGURACIÓN DE LA BASE DE DATOS HISTÓRICA Y COMO QUEDÓ CONFIGURADA.</th>
            </tr>
            <tr>
                <td>CONFIGURACIÓN DE LA BASE DE DATOS HISTÓRICA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/E/E1 PTS-ATAD-P-PCM-128.pdf")'" class="btn btn-info" title="CONFIGURACIÓN DE LA BASE DE DATOS HISTÓRICA">E1 PTS-ATAD-P-PCM-128 &raquo;</a></td>
            </tr>
            <tr>
                <td>MATRIZ DE CONFIGURACIÓN</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/E/E2-PTS-ATAD-P-LS-005.pdf")'" class="btn btn-info" title="MATRIZ DE CONFIGURACIÓN">E2-PTS-ATAD-P-LS-005 &raquo;</a></td>
            </tr>
            @* INCISO F) *@
            <tr>
                <th colspan="2" class="alert-success">INCISO F) PROCEDIMIENTO PARA LA INTEGRACIÓN DE LOS EQUIPOS INDICADOS EN EL ANEXO 10.2. Y COMO QUEDARON CONFIGURADOS.</th>
            </tr>
            <tr>
                <td>ARQUITECTURA AS BUILT</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/0. PTS-ATAD-P-PLA-001 (ASBUILT).pdf")'" class="btn btn-success" title="ARQUITECTURA AS BUILT">0. PTS-ATAD-P-PLA-001 &raquo;</a></td>
            </tr>
            <tr>
                <td>ARREGLO DE EQUIPO DE CONVERTIDORES Y ACCESORIOS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/0. PTS-ATAD-P-PLA-002 (ASBUILT).pdf")'" class="btn btn-success" title="ARREGLO DE EQUIPO DE CONVERTIDORES Y ACCESORIOS">0. PTS-ATAD-P-PLA-002 &raquo;</a></td>
            </tr>
            <tr>
                <td>DIAGRAMA DE ALAMBRADO DE CONVERTIDORES Y ACCESORIOS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/0. PTS-ATAD-P-PLA-003 (ASBUILT).pdf")'" class="btn btn-success" title="DIAGRAMA DE ALAMBRADO DE CONVERTIDORES Y ACCESORIOS">0. PTS-ATAD-P-PLA-003 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN Y CONFIGURACIÓN DE LA UCL</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F5 PTS-ATAD-P-PCM-017.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE INSTALACIÓN Y CONFIGURACIÓN DE LA UCL">F5 PTS-ATAD-P-PCM-017 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN Y COMUNICACIÓN DE LA UCL CON CONEXIÓN ETHERNET</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F6 PTS-ATAD-P-PCM-018.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE INSTALACIÓN Y COMUNICACIÓN DE LA UCL CON CONEXIÓN ETHERNET">F6 PTS-ATAD-P-PCM-018 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DE ADITIVO</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F11 PTS-ATAD-P-PCM-118.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DE ADITIVO">F11 PTS-ATAD-P-PCM-118 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE INSTALACIÓN Y CONFIGURACIÓN SISTEMA DE TELEMEDICIÓN CIU 858</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F15 PTS-ATAD-P-PCM-016.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE INSTALACIÓN Y CONFIGURACIÓN SISTEMA DE TELEMEDICIÓN CIU 858">F15 PTS-ATAD-P-PCM-016 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE ADQUISICIÓN DE CONFIGURACIÓN DE UCLS ACCULOAD III.NET</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F16 PTS-ATAD-P-PCM-100.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE ADQUISICIÓN DE CONFIGURACIÓN DE UCLS ACCULOAD III.NET">F16 PTS-ATAD-P-PCM-100 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON CIU 858</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F/F17 PTS-ATAD-P-PCM-102.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON CIU 858">F17 PTS-ATAD-P-PCM-102 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON UCLS</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/F18 PTS-ATAD-P-PCM-103.pdf")'" class="btn btn-success" title="PROCEDIMIENTO DE CONFIGURACIÓN DEL CONVERTIDOR MEDIOS DIGI PORTSERVER TS4 PARA LA COMUNICACIÓN CON UCLS">F18 PTS-ATAD-P-PCM-103 &raquo;</a></td>
            </tr>
            @* INCISO G) *@
            <tr>
                <th colspan="2" class="alert-warning">INCISO G) DOCUMENTO EN EL QUE SE DESCRIBE LA CONFIGURACIÓN DE LA INTERFACE CON EL SISTEMA INTEGRAL DE INFORMACIÓN COMERCIAL (SIIC)</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE COMUNICACIÓN CON SISTEMA SIIC</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/G/G1 PTS-ATAD-P-PCM-129.pdf")'" class="btn btn-warning" title="PROCEDIMIENTO DE COMUNICACIÓN CON SISTEMA SIIC">G1 PTS-ATAD-P-PCM-129 &raquo;</a></td>
            </tr>
            @* INCISO H) *@
            <tr>
                <th colspan="2" class="alert-danger">INCISO H) PROCEDIMIENTO PARA ARRANCAR Y DETENER EL SISTEMA</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO PARA ARRANCAR Y DETENER EL SISTEMA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/H/H1 PTS-ATAD-P-PCM-007.pdf")'" class="btn btn-danger" title="PROCEDIMIENTO PARA ARRANCAR Y DETENER EL SISTEMA">H1 PTS-ATAD-P-PCM-007 &raquo;</a></td>
            </tr>
            @* INCISO I) *@
            <tr>
                <th colspan="2" class="alert-info">INCISO I) PROCEDIMIENTO PARA RESPALDAR Y RESTAURAR EL SISTEMA COMPLETO</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO DE RESPALDOS AUTOMÁTICOS EN SQL SERVER</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/I/I1 PTS-ATAD-P-PCM-104.pdf")'" class="btn btn-info" title="PROCEDIMIENTO DE RESPALDOS AUTOMÁTICOS EN SQL SERVER">I1 PTS-ATAD-P-PCM-101 &raquo;</a></td>
            </tr>
            <tr>
                <td>PROCEDIMIENTOS PARA RESPALDAR Y RESTAURAR EL SISTEMA COMPLETO</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/I/I2 PTS-ATAD-P-PCM-008.pdf")'" class="btn btn-info" title="PROCEDIMIENTOS PARA RESPALDAR Y RESTAURAR EL SISTEMA COMPLETO">I2 PTS-ATAD-P-PCM-008 &raquo;</a></td>
            </tr>
            @* INCISO J) *@
            <tr>
                <th colspan="2" class="alert-success">INCISO J) PROCEDIMIENTO PARA RESOLUCIÓN DE INCIDENTES</th>
            </tr>
            <tr>
                <td>PROCEDIMIENTO PARA RESPALDAR Y RESTAURAR BASE DE DATOS HISTÓRICA</td>
                <td><a onclick="document.location.href = '@Url.Content("~/Content/Documents/Procedimientos_TAS360/J/J1 PTS-ATAD-P-PCM-009.pdf")'" class="btn btn-success" title="PROCEDIMIENTO PARA RESPALDAR Y RESTAURAR BASE DE DATOS HISTÓRICA">J1 PTS-ATAD-P-PCM-009 &raquo;</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-8" style="margin:0px 0px 0px 0px">
        <img src="~/Content/img/IndiceProcedimientos.jpg" class="img-responsive" alt="Responsive image">
        <img src="~/Content/img/IndiceProcedimientos2.jpg" class="img-responsive" alt="Responsive image">
        <img src="~/Content/img/IndiceProcedimientos3.jpg" class="img-responsive" alt="Responsive image">
        <img src="~/Content/img/IndiceProcedimientos4.jpg" class="img-responsive" alt="Responsive image">
    </div>
</div>
