@model TAS360.Models.ViewModel.TramaCancelacionOrdenesViewModel
@{
    ViewBag.Title = "Generar Trama";
    List<SelectListItem> ListTrancc      = (List<SelectListItem>)ViewBag.ListTipoTrancc3;
    List<SelectListItem> ListComp        = (List<SelectListItem>)ViewBag.ListComport;
    List<SelectListItem> ListEstadoTran2 = (List<SelectListItem>)ViewBag.ListEstadoTran2;
    List<SelectListItem> ListModulos     = (List<SelectListItem>)ViewBag.ListModulos;
    List<SelectListItem> ListPro         = (List<SelectListItem>)ViewBag.ListProducto;
}
<br />
<br />
<section class="page-section about-heading">
    <div class="container">
        @*<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />*@
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            @*<span class="section-heading-upper">Strong Coffee, Strong Roots</span>*@
                            <span class="section-heading-lower">Generar Trama</span>
                        </h2>
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("TramaCancelacionO", "Home", FormMethod.Post, new { role = "form", @class = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <br />

                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="col-md-12">
                                                <h2>@ViewBag.Message</h2>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Tipo_Transaccion)
                                                @Html.DropDownListFor(model => model.Tipo_Transaccion, ListTrancc, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Numero_Operacion)
                                                @Html.TextBoxFor(f => f.Numero_Operacion, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Numero_Operacion, null, new { @class = "red" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Numero_Compartimiento)
                                                @Html.DropDownListFor(model => model.Numero_Compartimiento, ListComp, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Estado_Transaccion)
                                                @Html.DropDownListFor(model => model.Estado_Transaccion, ListEstadoTran2, new { @class = "form-control", @readonly = "true" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Razones)
                                                @Html.TextBoxFor(f => f.Razones, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Razones, null, new { @class = "red" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Modulo_Operacion)
                                                @Html.DropDownListFor(model => model.Modulo_Operacion, ListModulos, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.Identificador_Vehiculo)
                                                @Html.TextBoxFor(f => f.Identificador_Vehiculo, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.Identificador_Vehiculo, null, new { @class = "red" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.codigo_Anterior_producto)
                                                @Html.DropDownListFor(model => model.codigo_Anterior_producto, ListPro, new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.volumen_natural)
                                                @Html.TextBoxFor(f => f.volumen_natural, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(f => f.volumen_natural, null, new { @class = "red" })
                                            </div>

                                            <div class="col-md-4">
                                                @Html.LabelFor(f => f.codigo_nuevo_producto)
                                                @Html.DropDownListFor(model => model.codigo_nuevo_producto, ListPro, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div style="text-align:right">
                                            <input type="submit" class="btn btn-success" value="Generar Trama" />
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>